*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.margin-bottom-medium {
  margin-bottom: 2.5rem; }

.margin-top-large {
  margin-top: 10rem; }

.margin-top-medium {
  margin-top: 5rem; }

.margin-top-small {
  margin-top: 2rem; }

.alert-success {
  z-index: 1000; }

.heading-primary {
  font-family: "Merriweather", serif;
  color: #f7f7f7;
  font-weight: 700; }
  .heading-primary--main {
    font-size: 9rem;
    margin-bottom: 3rem; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 7rem;
        margin-bottom: 2rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        margin-bottom: 2rem; } }
  .heading-primary--sub {
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    margin: 2rem 0; }
  .heading-primary--footer {
    color: #f7f7f7;
    font-size: 5rem; }
    @media (max-width: 56.25em) {
      .heading-primary--footer {
        font-size: 3rem; } }

.heading-secondary {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  font-weight: 700;
  color: #f7f7f7;
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.6rem; } }
  .heading-secondary--light {
    color: #f7f7f7; }
  .heading-secondary--dark {
    color: #01312C; }

.heading-tertiary {
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: #01312C; }

.body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6; }
  @media (max-width: 56.25em) {
    .body {
      font-size: 1.8rem;
      margin-bottom: 1.5rem; } }
  @media (max-width: 37.5em) {
    .body {
      font-size: 1.8rem; } }
  .body-white {
    color: #f7f7f7;
    margin-bottom: 1.5rem; }
  .body-blue {
    color: #01312C;
    margin-bottom: 1.5rem; }
  .body-p {
    color: #f7f7f7;
    margin-bottom: 1.5rem; }
  .body-slagord {
    color: #01312C;
    margin-bottom: 0; }
  .body-footer {
    font-size: 1.8rem;
    color: #f7f7f7;
    text-align: center; }
  .body-email {
    font-size: 1.7rem;
    color: #01312C; }

.center-text {
  text-align: center; }

.justify-text {
  text-align: justify; }

span {
  font-weight: 600; }

a {
  text-decoration: none; }

.link {
  color: white; }

.link:hover {
  color: white; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 0rem;
  max-width: 100vw;
  margin: 0 auto; }

.header {
  height: 100vh;
  grid-column: 1 / 13; }

.main {
  grid-column: 1 / 13; }

.footer {
  grid-column: 1 / 13; }

.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 0rem;
  margin: 0 auto;
  width: 100%; }
  .section-dark {
    background-color: #01312C; }
  .section-light {
    background-color: #f3f3f3e3; }

.col-4-to-10 {
  grid-column: 4 / 10;
  padding: 16rem 0; }
  @media (max-width: 56.25em) {
    .col-4-to-10 {
      padding: 7rem 0;
      grid-column: 3 / 11; } }
  @media (max-width: 37.5em) {
    .col-4-to-10 {
      grid-column: 2 / 12; } }

.background-blue {
  background-color: #01312C; }

.header {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__julekule1 {
    position: absolute;
    top: 0rem;
    left: 1.4rem;
    width: 9rem; }
    @media (max-width: 37.5em) {
      .header__julekule1 {
        width: 5rem;
        left: .6rem; } }
  .header__julekule2 {
    position: absolute;
    top: 0rem;
    left: 15rem;
    width: 9rem; }
    @media (max-width: 37.5em) {
      .header__julekule2 {
        left: 5rem;
        width: 5rem; } }
  .header__julekule3 {
    position: absolute;
    top: 0rem;
    left: 9rem;
    width: 10rem; }
    @media (max-width: 37.5em) {
      .header__julekule3 {
        width: 5rem;
        left: 3rem; } }
  .header__nav {
    position: absolute;
    top: 2rem;
    right: 1.4rem; }
  .header__icon {
    padding-top: 1rem;
    width: 4.5rem;
    height: 4.5rem; }
  .header__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    row-gap: 0rem;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto; }
  .header__gridbox {
    grid-column: 4 / 10;
    grid-row: 1 / 2; }
  .header__textbox {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem; }
    .header__textbox--bg-green {
      background-color: rgba(1, 49, 44, 0.6);
      padding: 10rem 16rem; }
      @media (max-width: 37.5em) {
        .header__textbox--bg-green {
          padding: 10vw 16vw; } }

.julegaveinnsamling {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0; }

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  z-index: 3;
  margin-top: 6rem;
  margin-bottom: 3rem; }
  @media (max-width: 56.25em) {
    .profile-container {
      grid-template-columns: 1fr;
      row-gap: 1rem; } }

.avatar {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-align: left; }
  @media (max-width: 56.25em) {
    .avatar-icon {
      justify-content: center; } }

.nyheter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .nyheter--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 1rem; }

.btn-arrow {
  width: 4.8rem;
  height: 4.8rem; }

.some__icon {
  margin-top: 2rem;
  padding-left: 1rem;
  width: 4rem;
  height: 4rem; }

.dropdown-container {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.box {
  position: relative; }

.dropdown-content {
  margin-top: .5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30rem;
  background: white;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.3s ease;
  visibility: hidden; }

li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #123a772c .5px solid; }

li:hover {
  background-color: #eaf6ff; }

.landsdel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #01312C;
  font-family: "Poppins", sans-serif;
  font-size: 2rem; }
  @media (max-width: 37.5em) {
    .landsdel {
      font-size: 1.8rem; } }

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-align: left;
  text-decoration: none;
  background: #fff;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #01312C;
  transition: all 0.4s ease; }
  @media (max-width: 56.25em) {
    .dropdown-btn {
      width: 45rem; } }
  @media (max-width: 37.5em) {
    .dropdown-btn {
      width: 25rem; } }
  @media (max-width: 37.5em) {
    .dropdown-btn {
      font-size: 1.8rem; } }

.dropdown-content.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
  visibility: visible; }

.slagord-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  z-index: 3;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.item {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-align: left; }
  @media (max-width: 56.25em) {
    .item-icon {
      justify-content: center; } }

.line {
  height: 0.2px;
  width: 100%;
  background-color: rgba(247, 247, 247, 0.7);
  margin-top: 2em;
  margin-bottom: 3rem; }

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .avatar__img {
    max-width: 110px; }
    @media (max-width: 56.25em) {
      .avatar__img {
        max-width: 80px; } }

.body__kart {
  background-color: #01312C; }

.main__kart {
  height: 100vh;
  width: 100vw; }

.navkart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem; }
  .navkart__logo {
    font-family: "Merriweather", serif;
    color: #f7f7f7;
    font-size: 2rem; }
  .navkart__some {
    display: flex;
    flex-direction: row; }
  .navkart__icon {
    width: 4rem;
    padding-left: .8rem; }

#landsdelKnapper {
  width: 15rem;
  display: block;
  text-align: right;
  position: absolute;
  right: 1rem;
  top: 8.5rem; }

.landsdel-btn {
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px #707070be;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #01312C; }

#kartet {
  width: 100vw;
  height: 95vh; }

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }
  .popup-container a {
    color: #01312C; }

.mapboxgl-popup-content {
  padding: 1rem;
  min-width: 50rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .mapboxgl-popup-content {
      min-width: 30rem; } }

.mapboxgl-popup-close-button {
  padding: 2rem; }

.innsamlingMarker {
  width: 60px;
  height: 60px;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .innsamlingMarker {
      width: 50px;
      height: 50px; } }

.kart-avatar {
  width: 20%;
  height: 20%;
  padding-bottom: 2rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-top: .5rem;
  color: inherit;
  padding: 1.5rem 1.5rem;
  border-radius: 2px;
  background-color: #f3f3f3e3;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(247, 247, 247, 0.1);
    border-bottom: 3px solid #f7f7f7; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #f7f7f7; }
  .form__input::-webkit-input-placeholder {
    color: rgba(1, 49, 44, 0.3); }

.form__label {
  color: #f3f3f3e3;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem; }
  @media (max-width: 37.5em) {
    .form__label {
      font-size: 1.6rem; } }

.form__group--btn {
  text-align: right; }

.form__btn {
  background-color: #CCA43D;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #01312C; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(247, 247, 247, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #01312C;
    box-shadow: 0 2rem 4rem rgba(247, 247, 247, 0.2);
    border-radius: .3rem;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3s);
    transition: all .4s .2s;
    padding: 1rem; }
    @media (max-width: 56.25em) {
      .popup__content {
        width: 70%; } }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 90%; } }
  .popup__box {
    width: 100%;
    vertical-align: middle;
    padding: 1rem 4rem; }
  .popup__text {
    font-size: 2rem;
    padding-top: 6rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    height: 4rem;
    width: 4rem;
    padding-top: .4rem;
    padding-left: 1.12rem;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    color: #01312C;
    background-color: white; }

video {
  max-width: 50%; }
  @media (max-width: 56.25em) {
    video {
      max-width: 70%; } }
  @media (max-width: 37.5em) {
    video {
      max-width: 100%; } }

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem; }

iframe {
  text-align: center; }
