*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.margin-bottom-medium {
  margin-bottom: 2.5rem; }

.margin-top-large {
  margin-top: 10rem; }

.margin-top-medium {
  margin-top: 5rem; }

.margin-top-small {
  margin-top: 2rem; }

.heading-primary {
  font-family: "Merriweather", serif;
  color: #B32739; }
  .heading-primary--main {
    font-size: 9rem;
    margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 7rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .heading-primary--footer {
    font-size: 5rem; }
    @media (max-width: 56.25em) {
      .heading-primary--footer {
        font-size: 3rem; } }

.heading-secondary {
  font-family: "Merriweather", serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #f7f7f7;
  margin-bottom: 5rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.6rem; } }
  .heading-secondary--light {
    color: #f7f7f7; }
  .heading-secondary--dark {
    color: #123B77; }

.heading-tertiary {
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: #f7f7f7; }

.body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .body {
      font-size: 1.8rem; } }
  .body-white {
    color: #f7f7f7; }
  .body-blue {
    color: #123B77; }
  .body-black {
    color: #000; }
    @media (max-width: 37.5em) {
      .body-black {
        font-size: 1.6rem; } }
  .body-slagord {
    color: #f7f7f7;
    margin-bottom: 0; }
  .body-footer {
    font-size: 1.5rem;
    color: #123B77;
    text-align: center; }
  .body-email {
    font-size: 1.5rem;
    color: #f7f7f7; }

.center-text {
  text-align: center; }

.justify-text {
  text-align: justify; }

span {
  font-weight: 600;
  color: #f7f7f7; }

a {
  text-decoration: none; }

.link {
  color: white; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 0rem;
  max-width: 100vw;
  margin: 0 auto; }

.header {
  height: 100vh;
  grid-column: 1 / 13; }

.main {
  grid-column: 1 / 13; }

.footer {
  grid-column: 1 / 13; }

.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 0rem;
  margin: 0 auto;
  width: 100%; }
  .section-dark {
    background-color: #123B77; }
  .section-light {
    background-color: #f3f3f3; }

.col-4-to-10 {
  grid-column: 4 / 10;
  padding: 16rem 0; }
  @media (max-width: 56.25em) {
    .col-4-to-10 {
      grid-column: 3 / 11; } }

.background-blue {
  background-color: #123B77; }

.header {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    row-gap: 0rem;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto; }
  .header__gridbox {
    grid-column: 4 / 10;
    grid-row: 1 / 2; }
  .header__textbox {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center; }

.profile-container {
  display: grid;
  position: relative;
  height: 60%;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 3rem; }
  @media (max-width: 56.25em) {
    .profile-container {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  @media (max-width: 37.5em) {
    .profile-container {
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); } }

.dropdown-container {
  height: 10vh;
  width: 100%;
  display: flex; }

.box {
  position: relative; }

.dropdown-content {
  margin-top: .5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30rem;
  background: white;
  left: 0px;
  list-style: none;
  border-radius: 5px;
  transform: translateY(-5px);
  transition: all 0.3s ease;
  visibility: hidden; }

li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #123a772c .5px solid; }

li:hover {
  background-color: #eaf6ff; }

.landsdel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #123B77;
  font-family: "Poppins", sans-serif;
  font-size: 2rem; }
  @media (max-width: 37.5em) {
    .landsdel {
      font-size: 1.6rem; } }

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 34vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-align: left;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #123B77;
  transition: all 0.4s ease; }
  @media (max-width: 37.5em) {
    .dropdown-btn {
      font-size: 1.6rem; } }

.dropdown-btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 1px 1px 19px #bdbdbdbe; }

.box .dropdown-btn:focus + .dropdown-content {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible; }

.slagord-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  z-index: 3;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.item {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-align: left; }
  @media (max-width: 56.25em) {
    .item-icon {
      justify-content: center; } }

.line {
  height: 0.2px;
  width: 100%;
  background-color: rgba(18, 59, 119, 0.405);
  margin-top: 2em;
  margin-bottom: 3rem; }

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .avatar__img {
    max-width: 110px; }
    @media (max-width: 56.25em) {
      .avatar__img {
        max-width: 90px; } }

.body__kart {
  background-color: #123B77; }

.main__kart {
  height: 100vh;
  width: 100vw; }

.kart__logo {
  font-family: "Merriweather", serif;
  color: #f7f7f7;
  font-size: 2rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem; }
  .nav__some {
    display: flex;
    flex-direction: row; }
  .nav__icon {
    width: 70%; }

#landsdelKnapper {
  width: 15rem;
  display: block;
  text-align: right;
  position: absolute;
  right: 1rem;
  top: 8.5rem; }

.landsdel-btn {
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 10px #707070be;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #123B77; }

#kartet {
  width: 100vw;
  height: 95vh; }

.innsamlingMarker {
  width: 60px;
  height: 60px;
  background-size: cover; }

.kart-avatar {
  width: 30%;
  height: 30%; }
