*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.margin-bottom-medium {
  margin-bottom: 2.5rem; }

.margin-top-large {
  margin-top: 10rem; }

.margin-top-medium {
  margin-top: 5rem; }
