.julegaveinnsamling{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    column-gap: 2rem;
    row-gap: 4rem;
    width: 100%;
    z-index: 3;
    margin-top: 6rem;
    margin-bottom: 3rem;

    @include respond(tab-port){
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
}

.avatar {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-align: left;

    &-icon{
        @include respond(tab-port){
           justify-content: center;
        }
    }
}