.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__img{
        max-width: 110px;

        @include respond(tab-port){
            max-width: 90px;
        }
    }
}