.body__kart{
    background-color: $color-secondary;
}

.main__kart{
    height: 100vh;
    width: 100vw;
}

.navkart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;

    &__logo{
        font-family: $title;
        color: $color-white;
        font-size: 2rem;
    }

    &__some{
        display: flex;
        flex-direction: row;
    }
    &__icon {
        width: 4rem;
        padding-left: .8rem;
    }
}

#landsdelKnapper{
    width: 15rem;
    display: block;
    text-align: right;

    position: absolute;
    right: 1rem;
    top: 8.5rem;

}
.landsdel-btn {
    padding: 1rem;
    margin: .5rem;

    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: $color-white;
    box-shadow: 1px 1px 10px #707070be;
    
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $body;
    color: $color-secondary;
}

#kartet {
    width: 100vw;
    height: 95vh;
}

.popup-container{
    display: flex;
    flex-direction: column;
    align-items: left;

    padding: 0;

}

.mapboxgl-popup-content{
    padding: 1rem;
    max-width: 30rem;
    text-align: left;
}

.mapboxgl-popup-close-button{
    padding: 2rem;
}

.innsamlingMarker {
    width: 50px;
    height: 50px;
    background-size: cover; 
}

.kart-avatar {
    width: 10%;
    height: 10%; 
    padding-bottom: 2rem;
}