.slagord-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    column-gap: 2rem;
    row-gap: 4rem;
    width: 100%;
    z-index: 3;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.item {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-align: left;

    &-icon{
        @include respond(tab-port){
           justify-content: center;
        }
    }
}