.slagord-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    column-gap: 2rem;
    row-gap: 4rem;
    width: 100%;
    z-index: 3;
    margin-top: 6rem;
    margin-bottom: 3rem;

    // @include respond(tab-port){
    //     grid-template-columns: 1fr;
    //     row-gap: 1rem;
    // }
}



.item {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-align: left;
    // height: 10vh;

    &-icon{
        @include respond(tab-port){
           justify-content: center;
        }
    }
}