video{
    max-width: 60%;

    @include respond(tab-port){
        max-width: 70%;
    }
    @include respond(phone){
        max-width: 100%;
    }
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;


}

iframe{
    text-align: center;
}