$default-font-size: 2rem;
$title: 'Merriweather', serif;
$body: 'Poppins', sans-serif;


.heading-primary {
    font-family: $title;
    color: $color-primary;

    &--main {
        font-size: 9rem;
        margin-bottom: 4rem;
    }

    &--sub {
        font-family: $title;
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    &--footer {
        font-size: 5rem;
    }
}

.heading-secondary{
    font-family: $title;
    font-size: 4.5rem;
    font-weight: 700;
    color: $color-white;
    margin-bottom: 2rem;
    
    &--light{
        color: $color-white;
    }
    &--dark{
        color: $color-secondary;
    }
}

.body {
    font-family: $body;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;

    &-white {
        color: $color-white;
    }

    &-blue {
        color: $color-secondary;
    }

    &-black {
        color: $color-black;
    }
}

.center-text {
    text-align: center;
}

span {
    font-weight: 800;
}